body {
    background: #f1ecff;
    display: flex;
    font-size: 100%;
    display: block;
    margin: 0;
}

.cabeçalho {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-color: blue;
    padding: 10px;
}

.img {
    height: 140px;
}

.corpo {
    margin: 57px;
}

.let {
    color: blue;
}

.adri {
    color: blue;
    font-size: 50px;
}

.footer {
    background: #FFFFFF;
    padding: 70px;
}

.fi {
    color: blue;
}

.fi2 {
    color: blue;
}