* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #f1ecff;
    display: flex;
    font-size: 100%;
    display: block;
    margin: 0;
}

.cabeçalho {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-color: blue;
    padding: 10px;
}

.img {
    height: 140px;
}

.corpo {
    margin: 57px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.corpo .list {
    padding-left:5rem;
}

.container-comands {
    margin: 2.5rem 0px;
}
.single-command {
    font-size: 2rem;
    color: #363636;
}
.answer {
    padding-left: 1rem;
    margin-top: .5rem;
}
.example {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.let {
    color: blue;
}

.adri {
    color: blue;
    font-size: 50px;
}

.links {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    background: #FFFFFF;
}

.icon i {
    font-size: 1rem;
    
}